.favourites-container {
  margin: 6% auto;
  width: 50%;
  height: fit-content;
  justify-content: center;
  border: 2px solid yellow;
  box-shadow: 0 0 1.75rem rgb(250, 205, 4);
  border-radius: 1.5rem;
  font-size: 2vw;
  padding: 2vw;
}

@media (max-width: 768px) {
  .favourites-container {
    width: 75vw;
    font-size: 1rem;
    padding: 1rem;
  }
}

.favourites-container:hover {
  transform: scale(1.025);
}

.favourite-post {
  color: goldenrod;
  list-style-type: none;
  justify-content: space-between;
  padding: 1%;
  text-decoration: underline;
}

.removeBtn {
  width: 1.25rem;
  border: none;
  padding: 0.4rem 0.4rem;
  border-radius: 100%;
  font-size: 0.75rem;
  margin-left: 0.4rem;
}

.removeBtn:hover {
  background-color: black;
  transform: scale(1.15);
  box-shadow: 0 0 0.25rem rgb(248, 252, 7);
}

.header {
  display: flex;
  justify-content: center;
  color: gold;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 4px;
  padding: 1%;
}