.favourites-container {
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  border: 2px solid yellow;
  padding: 2rem;
  padding-top: 0rem;
  box-shadow: 0 0 1.75rem rgb(250, 205, 4);
  border-radius: 1.5rem;
}

.favourites-container:hover {
  transform: scale(1.025);
}

.favourite-post {
  color: goldenrod;
  list-style-type: none;
}

.removeBtn {
  width: 1.25rem;
  border: none;
  padding: 0.4rem 0.4rem;
  border-radius: 100%;
  font-size: 0.85rem;
  margin-left: 0.3rem;
}

.removeBtn:hover {
  background-color: black;
  transform: scale(1.15);
  box-shadow: 0 0 0.25rem rgb(248, 252, 7);
}

.header {
  display: flex;
  justify-content: center;
  color: gold;
  font-style: italic;
  text-decoration: underline;
  letter-spacing: 0.1rem;
}