.switch-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4%;
  gap: px
}

.switch-buttons:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .switch-buttons:hover {
    transform: none;
  }
}

.past-button {
  margin-right: 1.5rem;
}

.past-button:hover {
  transform: scale(1.025);
}

.next-button {
  margin-left: 1.5rem;
}

.next-button:hover {
  transform: scale(1.025);
}